// 
// MC2 Variables
// 

// COLORS
// 
$color-white: #ffffff
$color-gray-pale: #f1f1f1
$color-gray-light: #e2e2e2
$color-gray-medium: #b1b1b1
$color-red: #d90017
$color-black-medium: #444444

// HELPERS
// 
@mixin flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -moz-flex
  display: -webkit-flex
  display: flex

@mixin justify-content()
  -webkit-justify-content: space-around
  justify-content: space-around