            </div> <!-- wrapper -->
            <div class="footer">
        </div>

            <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
            <script>
                // Initialize Firebase
                var config = {
                    apiKey: "AIzaSyAVwtcDcu_TStC5MNbhHnPKnZfU57b94TU",
                    authDomain: "myclassroom-ab829.firebaseapp.com",
                    databaseURL: "https://myclassroom-ab829.firebaseio.com",
                    storageBucket: "myclassroom-ab829.appspot.com",
                    messagingSenderId: "1086904820346"
                };
                firebase.initializeApp(config);
            </script>
        <script type="application/javascript" src="/assets/js/mc2.js"></script>
        </body> <!-- Closing From Head -->
</html> <!-- Closing From Head -->